<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="icon" href=".images/business-color_calculator_icon-icons.com_53466.ico">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="./javascripts/script.js" defer></script>
</head>

<body>
    <div class="calc-container">

        <div class="title-container">
            <span class="title">Calculator</span>
            <span class="author">By Jorisanlo27</span>
        </div>

        <div class="screen-container">
            <div class="screen">
                <span id="screen-operation" class="operation"></span>
                <span id="screen-numbers" class="numbers">0</span>
            </div>
        </div>

        <div id="buttons" class="grid-container">
            <!-- First row -->
            <div id="percent" class="grid-item gray">%</div>
            <div id="clear-entry" class="grid-item gray">CE</div>
            <div id="clear" class="grid-item gray">C</div>
            <div id="backspace" class="grid-item gray">⌫</div>

            <!-- second row -->
            <div id="inverse" class="grid-item gray">¹/ₓ</div>
            <div id="square" class="grid-item gray">x²</div>
            <div id="square root" class="grid-item gray">√</div>
            <div id="division" class="grid-item gray">÷</div>

            <!-- third row -->
            <div id="seven" class="grid-item black">7</div>
            <div id="eight" class="grid-item black">8</div>
            <div id="nine" class="grid-item black">9</div>
            <div id="multiplication" class="grid-item gray">x</div>

            <!-- fourth row -->
            <div id="four" class="grid-item black">4</div>
            <div id="five" class="grid-item black">5</div>
            <div id="six" class="grid-item black">6</div>
            <div id="minus" class="grid-item  gray">-</div>

            <!-- Fifth row -->
            <div id="one" class="grid-item black">1</div>
            <div id="tow" class="grid-item black">2</div>
            <div id="three" class="grid-item black">3</div>
            <div id="plus" class="grid-item  gray">+</div>

            <!-- sixth row -->
            <div id="Sign" class="grid-item black">⁺/-</div>
            <div id="zero" class="grid-item black">0</div>
            <div id="point" class="grid-item black">.</div>
            <div id="equals" class="grid-item green hover-green">=</div>
        </div>
    </div>
    </div>
</body>

</html>